#Folders

Animations/
Images/
output/
tests/
.vscode/

# Text Files

Future_implementations.txt

# Others

*.o
plummer_testing.py
*.c~
*.exe
*.log
*.linux

galaxies_IC_high_ptcl.txt
galaxies_IC_low_ptcl.txt

